input
pre-processing_output/
nextflow/nextflow
gatk.jar
.nextflow/
*.bam
*.bai
normals*
*.sif
*__pycache__/*
*.pyc
*.nextflow.log
*/*.nextflow.log
*.nextflow.log*
*/output*
*/work/*
nextflow/pileup_compare/
nextflow/fixtures_pre_processing/
nextflow/*.html*
nextflow/*.txt*
nextflow/dmp-cohort
conda/
concordance-workflow.code-workspace
