singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /juno:/juno'
}

params {
    // gatk_jar = "/juno/work/ci/kellys5/projects/conpair-dev/gatk.jar"
    gatk_jar = "/usr/GenomeAnalysisTK.jar" // this is the location inside the official GATK 3.8 Docker container
    somalier_bin = '/juno/work/ci/vurals/somalier_try/somalier'
    // Conpair ref genome
    ref_fasta = "/juno/work/ci/resources/genomes/GRCh37/fasta/b37.fasta"
    // somalier ref genome
    // ref_assembly = '/work/access/production/resources/reference/current/Homo_sapiens_assembly19.fasta'
    somalier_sites = '/work/ci/vurals/somalier_dmp_test3/FP_tiling_genotypes_for_Somalier.txt'
    conpair_markers_txt = '/juno/work/ci/kellys5/projects/conpair-dev/markers/IMPACT468/FP_tiling_genotypes_for_Conpair.txt'
    conpair_markers_bed = '/juno/work/ci/kellys5/projects/conpair-dev/markers/IMPACT468/FP_tiling_genotypes_for_Conpair.bed'
}

process {
    withName: gatk_pileup {
        // module = 'java/jdk1.8.0_202'
        module = "singularity/3.3.0"
        container = '/juno/work/ci/kellys5/projects/concordance-workflow-dev/concordance-workflow/cwl/gatk3_3.8-1.sif'
        time = 10.m
        memory = 12.GB
        maxForks = 250 // need to make sure some slots are still open for pileups to run in parallel
    }
    withName: conpair_likelihoods {
        module = "singularity/3.3.0"
        container = '/juno/work/ci/kellys5/projects/concordance-workflow-dev/Conpair/mskcc_conpair:dev.sif'
        time = 10.m
    }
    withName: conpair_concordance {
        module = "singularity/3.3.0"
        container = '/juno/work/ci/kellys5/projects/concordance-workflow-dev/Conpair/mskcc_conpair:dev.sif'
        time = 240.m
        cpus = 32
    }
    // withName: plot_concordance_distribution {
    //     module = 'R/R-3.6.3'
    //     executor = 'local'
    // }
    // withName: filter_concordance {
    //     executor = 'local'
    // }
}
