report {
    enabled = true
    file = "nextflow.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline.html"
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /juno:/juno'
}

executor {
    $lsf {
        queueSize = 1000
        clusterOptions='-sla CMOPI'
    }
}

params {
    // gatk_jar = "/juno/work/ci/kellys5/projects/conpair-dev/gatk.jar"
    gatk_jar = "/usr/GenomeAnalysisTK.jar" // this is the location inside the official GATK 3.8 Docker container
    // somalier_bin = '/juno/work/ci/vurals/somalier_try/somalier'
    // Conpair ref genome
    ref_fasta = "/juno/work/ci/resources/genomes/GRCh37/fasta/b37.fasta"
    // somalier ref genome
    // ref_assembly = '/work/access/production/resources/reference/current/Homo_sapiens_assembly19.fasta'
    somalier_sites = '/work/ci/vurals/somalier_dmp_test3/FP_tiling_genotypes_for_Somalier.txt'
    conpair_markers_txt = '/juno/work/ci/kellys5/projects/conpair-dev/markers/IMPACT468/FP_tiling_genotypes_for_Conpair.txt'
    conpair_markers_bed = '/juno/work/ci/kellys5/projects/conpair-dev/markers/IMPACT468/FP_tiling_genotypes_for_Conpair.bed'
    store_dir = false // switch to trigger storeDir usage in some processes; default to false, change to true in workflows that need it
}

process {
    executor = "lsf"

    withName: samtools_index {
        module = 'samtools/1.9'
        time = 30.m // some DMP bam's take >18min to index
        // maxForks = 900 // need to make sure some slots are still open for pileups to run in parallel
    }
    withName: gatk_pileup {
        // module = 'java/jdk1.8.0_202'
        module = "singularity/3.3.0"
        container = '/juno/work/ci/kellys5/projects/concordance-workflow-dev/concordance-workflow/cwl/gatk3_3.8-1.sif'
        time = 10.m
        memory = 12.GB
        // maxForks = 1
        // maxForks = 250 // need to make sure some slots are still open for pileups to run in parallel
    }
    withName: conpair_likelihoods {
        // runtime/cgo: pthread_create failed: Resource temporarily unavailable
        module = "singularity/3.3.0"
        container = '/juno/work/ci/kellys5/projects/concordance-workflow-dev/concordance-workflow/cwl/mskcc_conpair:dev.sif'
        time = 5.m
    }
    withName: conpair_concordance {
        module = "singularity/3.3.0"
        container = '/juno/work/ci/kellys5/projects/concordance-workflow-dev/concordance-workflow/cwl/mskcc_conpair:dev.sif'
        time = 240.m
        cpus = 4 // was set to  32 but jobs kept getting stuck Pending
    }
    withName: somalier_extract {
        module = "singularity/3.3.0"
        container = '/juno/work/ci/kellys5/projects/concordance-workflow-dev/concordance-workflow/cwl/brentp_somalier:v0.2.12.sif'
        time = 5.m
    }
    withName: somalier_concordance {
        module = "singularity/3.3.0"
        container = '/juno/work/ci/kellys5/projects/concordance-workflow-dev/concordance-workflow/cwl/brentp_somalier:v0.2.12.sif'
        time = 15.m
    }




    // withName: plot_concordance_distribution {
    //     module = 'R/R-3.6.3'
    //     executor = 'local'
    // }
    // withName: filter_concordance {
    //     executor = 'local'
    // }
}
